* {
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
h1 {
  animation-name: headingAnime;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  padding-left: 0.7%;
}

@keyframes headingAnime {
  from {
    box-shadow: 0 0 10px #fff;
  }
  to {
    box-shadow: 0 0 15px #f3c4c4;
  }
}
.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
}

.summary-heading {
  width: 100%;
  max-width: 380px;
  margin-inline: auto;
}
.total-balance-container,
.total-income-container,
.total-expense-container {
  display: flex;

  width: 100%;
  max-width: 160px;

  height: 100px;
  background-color: rgba(208, 200, 200, 0.345);
}
.total-balance,
.total-income,
.total-expense {
  align-self: center;
}

.add-expense-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border: none;
  outline: none;
  max-width: 470px;
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s;
}
.add-expense-button:hover {
  transform: scale(1.1);
}
.add-expense-button:active,
.form-add-expense button:active {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.form-add-expense {
  display: grid;
  grid-template-rows: 0.5fr;
  row-gap: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.form-add-expense button {
  justify-self: end;

  width: 100px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 0;

  cursor: pointer;
  transition: all 0.3s;
}
.form-add-expense button:hover {
  transform: scale(1.2);
}
.form-add-expense h2 {
  justify-self: center;
}
.desc-container,
.amount-container,
.type-container,
.category-container,
.date-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.desc-container input,
.type-container select,
.amount-container input,
.category-container select,
.date-container input {
  outline: none;
  border: none;
  border-radius: 25px;
  padding-left: 5px;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.transaction-table {
  border-collapse: collapse;
}
.transaction-table,
tr,
th,
td {
  border: none;
  padding: 8px;
}
.transaction-item {
  text-align: center;
  background-color: rgb(43, 42, 42);
  transition: all 0.3s;
}
.transaction-item:hover {
  background-color: rgb(55, 53, 53);
}
.transaction-item button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-container h2 {
  align-self: center;
  height: 30px;
}
.transaction-container h2,
.transaction-container .filter-container {
  justify-self: center;
}
.filter-container {
  align-self: center;
  margin-bottom: 15px;
  width: 100%;
  max-width: 250px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.filter-container .select-filter {
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 3px;
}

.table-wrapper button#delete-all {
  display: flex;

  justify-self: end;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.table-wrapper button#delete-all:hover {
  transform: scale(0.9);
}
.table-wrapper button#delete-all:active {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.modal {
  position: absolute;
  top: 20%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  min-height: 50vh;
  justify-self: center;
  justify-content: start;
  background-color: rgb(121, 120, 120);
}
.btn-close-modal {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  max-width: 5%;
  padding: 0.3rem;
  border-radius: 5px;
  align-self: end;
  background: transparent;
  transition: all 0.3s;
}
.btn-close-modal:hover {
  background-color: red;
}
.btn-close-modal:active {
  border: 1px solid #000;
  transform: scale(0.9);
}
.modal-content {
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}
.btn-modal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-confirm-modal,
.btn-cancel-modal {
  border: none;
  outline: none;
  padding: 0.5rem 0.9rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.1s;
}
.btn-confirm-modal {
  margin-right: 5px;
  background-color: rgb(9, 177, 9);
}
.btn-cancel-modal {
  background-color: orangered;
}
.btn-confirm-modal:hover,
.btn-cancel-modal:hover {
  transform: scale(0.9);
}
.btn-confirm-modal:active,
.btn-cancel-modal:active {
  border: 1px solid black;
  background: transparent;
}
.modal-overlay {
  /* border: 2px solid red; */
  position: absolute;
  top: 1%;
  left: 2.5%;
  height: 100vh;
  width: 95%;
  max-width: 100%;
  z-index: 10;
  background-color: rgb(57, 51, 51);
  opacity: 0.8;
}
.message {
  font-size: 1.4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lightblue {
  color: lightblue;
}
.orange {
  color: lightcoral;
}
.selected {
  background-color: rgb(1, 1, 1);
}

/*for mobile devices*/

@media screen and (max-width: 570px) {
  h1 {
    margin-inline: auto;

    font-size: 25px;
    width: 100%;
    max-width: 300px;
    animation: none;

    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
  }
  .summary > div {
    min-width: 0;
    width: 30rem;
    max-width: 100%;
    justify-content: center;
  }
  .add-expense-button {
    padding: 10px;
    width: 90%;

    /* margin-left: 10px;
    margin-right: 10px; */
  }
  .add-expense-button:hover {
    transform: scale(0.9);
  }
  .form-add-expense {
    display: grid;
    grid-template-rows: 0.5fr;
    row-gap: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .form-add-expense button {
    margin-right: 20px;
    padding: 10px;
    align-items: center;
    width: 90%;
  }
  .form-add-expense button:hover {
    transform: scale(0.9);
  }
  .desc-container,
  .amount-container,
  .type-container,
  .category-container,
  .date-container {
    padding: 5px 15px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .transaction-container {
    width: 100%;
    overflow: auto;
  }
}
@media screen and (max-width: 540px) {
  .modal {
    .btn-close-modal {
      width: 100%;
      max-width: 20%;
    }
  }
  .modal-overlay {
    width: 100%;
    max-width: 88%;
    left: 6%;
  }
  .message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .message {
    font-size: 1rem;
    margin-inline: auto;
  }
}
